@import "/src/assets/styles/colors";
@import "/src/assets/styles/fonts";

.item-list {
  margin-bottom: 55px;
}
.carousel-controls {
  .carousel-control-item {
    width: 27px;
    height: 27px;
    border-radius: 100%;
    border: 1px solid #dbdee7;
    margin: 0 7px;

    &.active {
      background-color: $main;
      border: 1px solid $main;
    }
  }
}
